<div class="comment-form">
    {{#each posts as |post|}}
    <div class="post-dashboard">
        <div class="post-info">
            <div class="post-title">
                {{post.title}}
            </div>
            <div class="post-author">
                {{post.user.user_name}}
            </div>
            <div class="post-date">
                {{post.date}}
            </div>
        </div>
        <div class="post-body">
            {{post.body}}
        </div>
    </div>
     <form action="/api/posts/comment/{{post.id}}" method="post" class="form-example">
        <div className="input-field">
            <textarea rows="5" cols="50" id="body" name="body" required  placeholder="Enter Comment"></textarea>
        </div>
        <div class="form-example">
            <input type="submit" value="Comment">
        </div>
    </form>
    {{/each}}
    <div class="comment-list">
        {{#each comments as |comment|}}
        <div class="comment">
            <div class="post-info">
                <div class="comment-author">
                    {{comment.user.user_name}}
                </div>
                <div class="comment-date">
                    {{comment.date}}
                </div>
            </div>
            <div class="comment-body">
                {{comment.body}}
            </div>
        </div>
        {{/each}}
    </div>
</div>